<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <h1>welcome to my Calculator App</h1>

    <textarea name="" id="" cols="30" rows="10">

        {{answer}}
    </textarea>

    <form action="calc">
    
    <input type="text" name='num1'>
    <input type="text" name ='num2'>
    <br><br><br>
    <button type="submit" value='add' name='op'> + </button>
    <button type="submit" value = 'sub' name='op'> - </button>
    <button type="submit" value = 'mul' name='op'> * </button>
    <button type="submit" value = 'div' name='op'> / </button>

    </form>

</body>
</html>